<configuration>
    <!--Default appender-->
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level **** %msg%n</pattern>
        </encoder>
    </appender>
    <!--File appender-->
    <timestamp key="byDay" datePattern="yyyy-MM-dd"/>
    <property name="LOG_FILE" value="${byDay}-log.txt"/>
    <property name="LOG_DIR" value="target/"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
        </encoder>
        <file>${LOG_DIR}/${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <param name="FileNamePattern" value="${LOG_DIR}//app.%i.log.gz"/>
            <param name="MinIndex" value="1"/>
            <param name="MaxIndex" value="30"/>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!--When file is more that 2Mb creates archived version-->
            <param name="MaxFileSize" value="2097152"/>
        </triggeringPolicy>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
